/* GENERAL STUFF */

    html, body{
        font-family: 'Merriweather';
        background-image: url(ui/background.png);
        font-size: 20px; /* REPLACE LATER: FONT SIZE */
        height: 100%;
    }

    b{
        color:#c4882e;
        text-shadow: 0 0 3px #9f915096;
    }

    h3{
        color:#c4882e;
        font-variant: small-caps;
        text-shadow: 0 0 3px #9f915096;
    }

    h3::before{
        content: url(ui/line_L.png); /* REPLACE LATER: BACKGROUND */
    }

    h3::after{
        content: url(ui/line_R.png); /* REPLACE LATER: BACKGROUND */
    }

    .shadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .hover-pic{
        cursor: pointer;
    }

    .hover-pic img{
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .hover-pic:hover img{
        -webkit-transform: scale(1.1);
	    transform: scale(1.1);
    }

/* BOXES */

    /* Back to top button */
    #top-button{
        position: fixed;
        right: 20px; /* REPLACE LATER: FONT SIZE */
        bottom: 20px;
        cursor: pointer;
        z-index: 1;
    }

    #title-box{
        position: relative;
        text-align: center;
        color: white;
    }

    #title{
        font-size: 30px; /* REPLACE LATER: FONT SIZE */
        font-variant: small-caps;
        color: white;
        text-shadow: 0 0 5px #00000096;
        position: absolute;
        top: 75px;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        max-width: 700px;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    #title-box img{
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    #title-box:hover img{
        -webkit-transform: scale(1.05);
	    transform: scale(1.05);
    }

    #footer{
        font-size: 10px; /* REPLACE LATER: FONT SIZE */
    }

    .button{
        font-size: 18px;
        font-variant: small-caps;
        color: white;
        text-shadow: 0 0 5px #00000096;
        height: 100px;
        width: fit-content;
        padding: 8px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .button a:link, a:visited, a:hover, a:active{
        color: white;
        text-decoration: none;
    }

/* BOXES: Content */

    .body-text{
        font-size: 18px;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        padding:20px
    }

    .body-text a{
        color: #7D1D22;
    }

    .info-box{
        background-color: #791f23d7;
        background-image: url(https://www.ace-attorney.com/great1-2/assets/image/common/bg_overlay.png);
        color: white;
        border: #E7BE82 double 5px;
        padding: 20px;
        margin: 10px;
        font-size: 16px; /* REPLACE LATER: FONT SIZE */
        text-align: left;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: relative;
    }

    #info-box-border{
        content: url(ui/border.png);
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
    }

    .info-box b {
        color: white;
    }

    .info-box a{
        color:white;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

    .info-box a:hover{
        color:#9F9150;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

    .sample-box{
        text-align: center;
    }

/* GRID */

    .header-box {
        grid-area: header; 
        background-color: #7D1D22;
        background-image: url(https://www.ace-attorney.com/great1-2/assets/image/common/bg_overlay.png);
        border-bottom: #E7BE82 double 10px;
        color: white;
        height:200px;
    }
    .main-box { grid-area: main; }
    .footer-box { 
        grid-area: footer; 
        background-color: #7D1D22;
        background-image: url(https://www.ace-attorney.com/great1-2/assets/image/common/bg_overlay.png);
        border-top: #E7BE82 double 10px;
        color: white;
    }

    .grid-container {
        display: grid;
        grid-template-areas:
            'header'
            'main'
            'footer';
        width: 100%;
        height: 100%;
    }

    .grid-container > div {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    }
    
/* MODAL */

    .modal-content {
        position: relative;
        margin: auto;
        padding: 0;
        width: 60%;
        max-width: 1200px;
        text-align: center;
        font-size: 14px;
        color:white;
        z-index: 5;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #383838ea;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        z-index: 5;
    }

    .modal-content img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }

    .modal-title{
        font-size: 20px;
    }

    .close {
        color: white;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
    }
    
    .close:hover, .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
    }

    /* Hide the slides by default */
    .imgpopup {
        display: none;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev {
        left: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    img.demo {
        opacity: 0.6;
    }
    
    .active,
    .demo:hover {
        opacity: 1;
    }
    
    img.hover-shadow {
        transition: 0.3s;
    }
    
    .hover-shadow:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    /* SCROLLBAR */
    body::-webkit-scrollbar {
        width: 0.5em;
      }
       
      body::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
       
      body::-webkit-scrollbar-thumb {
        background-color: darkgrey;
      }

@media (max-width: 1080px) {
        .body-text{
        font-size: 18px;
        width: 97.5%;
        margin-left: auto;
        margin-right: auto;
        padding:20px
    }

    .modal-content {
        width: 97.5%;
        max-width: 1080px;
    }
}

